.countriesList {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: 0;
  width: max-content;
}

.countryListItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}

.countryFlag {
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
  height: 1.5em;
  margin-bottom: 0.5em;
  width: 2.5em;
}

.countryFlagFallback {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em;
}

.lastChampionCountry {
  font-weight: 900;
}

@media (min-width: 768px) {
  .countryListItem {
    flex-direction: row;
    justify-content: flex-start;
  }

  .countryFlag,
  .countryFlagFallback {
    margin-bottom: 0;
    margin-right: 1em;
  }

  .lastChampionCountry {
    font-size: 1.5em;
  }
}
