.mainTitle {
  font-family: Bungee Inline, serif;
  font-size: 3em;
}

.badge {
  display: block;
  max-width: 100%;
  min-width: 150px;
  margin: auto;
  width: 18.125vw;
}

.paragraph {
  font-family: Poppins, arial, sans-serif;
  font-size: 2em;
}

.paragraph > span {
  font-family: Poppins Black, arial, sans-serif;
}
